body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.headerflex {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    background-color: #1F2937;
    color: white;
    padding-bottom: 40px;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    row-gap: 20px;
}

.headrow1 {
    display: flex;
    flex: 1 1 50%;
    justify-content: space-around;
    align-items: center;
    gap: 400px;
}

.headrow2 {
    display: flex;
    flex: 1 1 50%;
    justify-content: space-around;
    align-items: center;
    gap: 260px;
}

.big {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
    padding: 0;
}

.small {
    font-size: 16px;
    margin-top: 10px;
    padding-top: 0;
    margin-bottom: 20px;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
}

.headlist {
    list-style: none;
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.headlinks {
    font-size: 18px;
    color: #E5E7EB;
}

.headbutton {
    background-color: #3882F6;
    border: 0px;
    color: white;
    font-size: 20px;
    width: 100px;
    margin: 0;
    border-radius: 10px;
    padding: 10px;
    transition: all .2s ease-in;
}

:hover.headbutton {
    background-color: white;
    color: #3882F6;
    transition: all .2s ease-in;
}

.suptextcont {
    display: flex;
    flex-direction: column;
}

.pholder {
    width: 400x;
    height: 250px;
}

.bodyflex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0px;
    gap: 60px;
}

.bodytitle {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.bodyimagescont {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    flex: 1 1 0;
    margin: 0px 10000px;
}

.quote {
    background-color: #E5E7EB;
    padding: 0px 100px;
    margin: 0;
    width: 86.7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quotetext {
    padding: 80px 300px 0px 300px;
    font-size: 36px;
    color: #1F2937;
}

.quotetag {
    margin: 0;
    font-size: 20px;
    align-self: flex-end;
    margin-right: 300px;
}

.signupbody {
    background-color: #3882F6;
    color: white;
    display: flex;
    gap: 100px;
    padding: 50px 100px;
    border-radius: 10px;
}

.signuptext{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: flex-start;
}

.signuptextbig {
    font-size: 24px;
    font-weight: 900;
    margin: 0;
    padding: 0;
}

.signuptextsmall {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.signupblue {
    background-color: #3882F6;
    border-color: white;
    width: 100px;
    height: 50px;
    border-radius: 20px;
    color: white;
    font-size: 16px;
    font-weight: 900;
    transition: all .2s ease-in;
}

.signupblue:hover {
    color: #3882F6;
    border-color: #3882F6;
    width: 100px;
    height: 50px;
    border-radius: 20px;
    background-color: white;
    font-size: 16px;
    font-weight: 900;
    transition: all .2s ease-in;
}

.bodyfooter {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
    height: 80px;
}